@tailwind base;
@tailwind components;

@font-face {
	font-family: "roboto_slabregular";
	src: url("RobotoSlab-Regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@tailwind utilities;


p {
    margin-left: 50px;
    margin-bottom: 12px;
}